<section class="container-menu">

    <div class="container-content">
        <span class="title-menu">Para ingresar a los Lockers <br> autentícate</span>
    
        <div class="card">
            <div class="container-header" >
                <span class="title-header"> {{ user.locker }} </span>
            </div>

            <img src="/assets/imgs/lockers.svg" alt="" class="lockers">

            <button (click)="openLoker()" class="btn-form" >Abrir Locker</button>
        </div>
    
        <img src="/assets/imgs/logo-caribe.webp" alt="" class="logo-brand">
    </div>
    
</section>